---
layout: default
---

<div class="container-fluid dark">
  <div class="row">
    <div class="col">
      <h1 class="home_title">
        <img src='assets/iconFull.jpg' class='icon' />
        Shadow Boxing App
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p id="subtitle">Practice boxing anywhere without gear.</p>
    </div>
  </div>

  {% include getapp.html %}
  {% include screenshots1.html %}
</div>

<div class="container-fluid light">
  <div class="row">
    <div class="col">
      <h2 class="follow">
        Follow along many different boxing exercises
      </h2>
    </div>
  </div>

  <div class="row">
    {% for exercise in site.data.exercises %}
        <div class= "col-md-4 col-sm-6 col-lg-3">
          <div class="mode">
            <h3>
              <img src="/assets/modes/mode_{{exercise.code}}.png" class="mode_icon"/>
              {{ exercise.title }}
            </h3>
            {{ exercise.description }}
          </div>
        </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col download">
      <a href="https://apps.apple.com/app/shadow-boxing-workout/id1510911574">
        <img src="/assets/download.svg" alt="app store download" />
      </a>
    </div>
  </div>
</div>

<div class="container-fluid dark">
  <div class="row screenshots">
    <div class="col">
      <h2>Mirror mode</h2>
      <p>record yourself boxing & improve<p>
      <img src="assets/web_screenshot_4.png" />
    </div>

    <div class="col">
      <h2>Free round timer</h2>
      <p>efficient and without ads<p>
      <img src="assets/web_screenshot_5.png" />
    </div>

    <div class="col">
      <h2>Statistics</h2>
      <p>track trainings, stay motivated</p>
      <img src="assets/web_screenshot_6.png" />
    </div>
  </div>
</div>

<div class="container-fluid light">
  <div class="row">
    <div class="col">
      <h2 class="follow">
        Pick from interesting boxing workouts
      </h2>
    </div>
  </div>

  <div class="row">
    {% for preset in site.data.presets %}
        <div class= "col-md-4 col-sm-6 col-lg-3">
          <div class="preset" style="background: url('/assets/presets/{{preset.code}}-min.png');background-size:cover;">
            <h3>
              {{ preset.title }}
            </h3>
            <p> {{ preset.description }}</p>
          </div>
        </div>
    {% endfor %}
    <div class="col-md-4 col-sm-6 col-lg-3 download">
      <br/>
      <br/>
      Download this shadow boxing training app for iPhone
      <a href="https://apps.apple.com/app/shadow-boxing-workout/id1510911574">
        <img src="/assets/download.svg" alt="app store download" />
      </a>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</div>

<div class="container-fluid dark from_the_blog">
  <div class="row">
    <div class="col">
      <h2 class="blog_title">
        From the blog
      </h2>
    </div>
  </div>
  {% for post in site.posts %}
    <div class="row ">
      <div class= "col-md-4 col-sm-6 col-lg-4 blog_post_home">
            <h3>
              <a href="{{ BASE_PATH }}{{ post.url }}">
                {{ post.title }}
              </a>
            </h3>
            <p>
              {{ post.description }}
            </p>
            <p>
              <br />
              <a class="read_more" href="{{ BASE_PATH }}{{ post.url }}">→ Read more about this</a>
            </p>
          </div>
        </div>
    </div>
  {% endfor %}
</div>
