---
layout: default
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
        {{ site.title }}
    </title>
    <meta name="description" content="{{ site.description }}">
    <meta content='user-scalable=no, width=device-width, initial-scale=1.0' name='viewport'>
    <meta name="google-site-verification" content="x2EpQdOMz-k9fP8hak9I3COaXhnQ4jNLp2GU4GYQ8jM" />


    <link rel="shortcut icon" href="/assets/favicon.png">
    <style type="text/css">
      {% include reset.css %}
      {% include bootstrap-grid.min.css %}
      {% include website.css %}
    </style>
  </head>

  <body>

    <div id="main" class="container-fluid">

      <div class="row">
        <div class="col">
          <h1>
            <img src='assets/iconFull.jpg' class='icon' />
            Shadow Boxing App
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p id="subtitle">Practice boxing anywhere without gear.</p>
        </div>
      </div>

      <div class="row">
        <div class="col download">
          <a href="https://apps.apple.com/app/shadow-boxing-workout/id1510911574">
            <img src="/assets/download.svg" alt="app store download" />
          </a>
        </div>
      </div>

      <div class="row screenshots">
        <div class="col-md">
          <h2>Pick from many workouts</h2>
          <p>from HIIT to freestyle<p>
          <img src="assets/web_screenshot_1.png" />
        </div>

        <div class="col-md">
          <h2>Follow audio cues</h2>
          <p>just like doing virtual pad work<p>
          <img src="assets/web_screenshot_2.png" />
        </div>

        <div class="col-md">
          <h2>Entirely customizable</h2>
          <p>set the exercises, the intensity...</p>
          <img src="assets/web_screenshot_3.png" />
        </div>
      </div>
    </div>

    <div class="container light">
      <div class="row">
        <div class="col">
          <h2 class="follow">
            Follow along many different boxing exercises
          </h2>
        </div>
      </div>

      <div class="row">
        {% for exercise in site.data.exercises %}
            <div class= "col-4">
              <div class="mode">
                <h3>
                  <img src="/assets/modes/mode_{{exercise.code}}.png" class="mode_icon"/>
                  {{ exercise.title }}
                </h3>
                {{ exercise.description }}
              </div>
            </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col download">
          <a href="https://apps.apple.com/app/shadow-boxing-workout/id1510911574">
            <img src="/assets/download.svg" alt="app store download" />
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid dark">
      <div class="row screenshots">
        <div class="col-md">
          <h2>Mirror mode</h2>
          <p>record yourself boxing & improve<p>
          <img src="assets/web_screenshot_4.png" />
        </div>

        <div class="col-md">
          <h2>Free round timer</h2>
          <p>efficient and without ads<p>
          <img src="assets/web_screenshot_5.png" />
        </div>

        <div class="col-md">
          <h2>Statistics</h2>
          <p>track trainings, stay motivated</p>
          <img src="assets/web_screenshot_6.png" />
        </div>
      </div>
    </div>

    <div class="container light">
      <div class="row">
        <div class="col">
          <h2 class="follow">
            Pick from interesting workouts
          </h2>
        </div>
      </div>

      <div class="row">
        {% for preset in site.data.presets %}
            <div class= "col-6">
              <div class="preset" style="background: url('/assets/presets/{{preset.code}}.png');background-size:cover;">
                <h3>
                  {{ preset.title }}
                </h3>
                <p> {{ preset.description }}</p>
              </div>
            </div>
        {% endfor %}
        <div class="col download">
          <a href="https://apps.apple.com/app/shadow-boxing-workout/id1510911574">
            <img src="/assets/download.svg" alt="app store download" />
          </a>
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="wrapper">
        &copy; 2020 Shadow Boxing workout
        <br />
        <a href="https://apps.apple.com/app/shadow-boxing-workout/id1510911574">
          <img src="/assets/download.svg" alt="app store download" />
        </a>
      </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171713933-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-171713933-1');
    </script>

  </body>
</html>
