---
layout: default
title: Shadow Boxing Workouts | Read reviews about the app
description: If you are on the fence about starting to use the app for boxing, you can take a look at these real user reviews!
imageCode: "custom_workout"
---

<div class="container-fluid dark">
  <h1 class="home_title">Reviews of The Shadow Boxing App</h1>
  <p class="subtitle_blurb">
    We know that it's hard to commit to an app when training. There are a lot of them out there, each with their specificities.
    This is why we offer completely free trainings so you can get a sense of how the app works and if it'll fit
    the way you want to train. Another way to get more insights is reading what people are saying about the app,
    so keep scrolling and discover what users and publications said about the shadow boxing app!
  </p>
</div>

<div class="container-fluid dark">
  <h2 class="orange_header"> From boxers using the app</h2>
  <img class="content_banner" src="/assets/banner_reviews.jpg" alt="People using an iOS app for shadow boxing"/>
  <p class="subtitle_blurb">
    If you are on the fence about starting to use the app for boxing, you can take a look at these
    <a href="https://apps.apple.com/app/shadow-boxing-workout/id1510911574">real user reviews from the app store</a>.
    We think that our best advocates are the boxers that use the app every week to train and get better.
    Because of this, we also listen to all feedback and do our best to keep improving the app so it'll fit what
    people actually need to stay in shape and improve their technique.
  </p>
</div>

<div class="container-fluid dark all_workouts">
    <div class="row">
      {% for review in site.data.reviews %}
        <div class="col-12 col-md-4 workout">
          <div class="stars">⭐️⭐⭐⭐⭐</div>
          <h3>{{ review.title }}</h2>
          <p>
            {{ review.content }}
          </p>
          <p class="from">
            From {{ review.name }}
          </p>
        </div>
      {% endfor %}
    </div>
{% include getapp.html %}
</div>

<div class="container-fluid light">
  <h2 class="orange_header">From the press and review sites</h2>
</div>

<div class="container-fluid light all_workouts" style="padding-bottom: 40px;">
    <div class="row">
      {% for review in site.data.pro_reviews %}
        <div class="col-12 col-md-4 workout">
          <h3>{{ review.title }}</h2>
          <p>
            {{ review.content }}
          </p>
          <p class="from">
            <a href="{{review.link}}">{{ review.name }}</a>
          </p>
        </div>
      {% endfor %}
    </div>
</div>
<div class="container-fluid dark">
  <h2 class="white_header">Care to give it a try?</h2>

  {% include screenshots1.html %}
  {% include getapp.html %}
</div>


