<div class="awards">
  <div class="container">
    <div class="row">
      <div class="award col-md-4">
        <img src="/assets/V2/laurel_left.png" />
        
        <br />
        This week's favorites
        <img src="/assets/V2/laurel_right.png" />
      </div>

      <div class="award col-md-4">
        <img src="/assets/V2/laurel_left.png" />
        
        <br />
        Highlighted in more than 8 countries
        <img src="/assets/V2/laurel_right.png" />
      </div>

      <div class="award col-md-4">
        <img src="/assets/V2/laurel_left.png" />
        
        <br />
        Apps to workout differently
        <img src="/assets/V2/laurel_right.png" />
      </div>
    </div>
  </div>
</div>

