<h2>{{ category.name }}</h2>
<div class="shop_category">
    <p>{{ category.blurb }}</p>
</div>
{% for item in category.items %}
  <h2>
    <a href="{{item.link}}">→ {{ item.name }}</a>
  </h2>
  <div class="shop_category">

    <a href="{{item.link}}">
      <img src="/assets/shop/{{item.image}}" class="shop_item_photo" alt="{{item.name}} - photo" />
    </a>
    <p>
      {{ item.blurb }}
      <br />
    </p>
    <a class="shop_get" href="{{item.link}}">{{ page.buy }}.</a>
  </div>
{% endfor %}
