body{
  border-top: 5px solid #121212;
  font-family: 'Mulish', sans-serif;
}

#hero {
  background-image: url(/assets/punch.jpeg);
  height: 600px;
  width: 100%;
  background-size: cover;
  color: #FBFBFB;
}

h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  max-width: 500px;
  text-shadow: 1px 1px #222;
}

.hero-container {
  max-width: 700px;
  margin: auto;
  padding: 170px 20px 40px 20px;

}

.hero-container  p {
    margin-top: 20px;
    font-size: 20px;
    max-width: 500px;
    text-shadow: 2px 1px #222;
    line-height: 25px;
  }



.features {
  font-size: 20px;
  padding: 60px 20px;
}

.features h2 {
  text-transform: uppercase;
  color: #4B4C4D;
  font-size: 25px;
  padding: 0px 0px 40px 0px;
}
.features p {
  margin-bottom: 20px;
}
.wrapper {
  max-width: 800px;
  margin: auto;
}

strong {
  font-weight: bold;
}

ul {
  margin-left: 20px;
}
li {
 padding: 10px 0px;
 list-style: square;
}

.dark {
  background-color: #18191A;
  color: #FBFBFB;
}

.dark strong {
  color: #fab219;
}

.dark h2 {
  color: #4B4C4D;
}

.light {
  background-color: #FBFBFB;
  color: #18191A;
}

.light strong {
  color: #2DE3B6;
}

.light h2 {
  color: #a2a4a6;
}

#footer {
  background-color: #18191A;
  color: #a2a4a6;
  padding: 80px 0px 100px 0px;
  text-align: center;
}

#footer a {
  display: inline-block;
  margin-top: 20px;
}


.get-app {
  margin-top: 20px;
  background-color: #2DE3B6;
  border: 1px solid #25cfa4;
  color: #FBFBFB;
  padding: 13px 60px 15px 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.2s;

}

.get-app:hover {
  background-color: #25cfa4;
  transition: 0.5s;
}

