/* GLOBAL */

body{
  border-top: 5px solid #fab219;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial', sans-serif;
}

a {
  color: #fff;
}

p {
  line-height: 20px;
}

strong {
  font-weight: bold;
}

ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

li {
 padding: 10px 0px;
 list-style: square;
 font-size: 18px;
}

/* LAYOUT */
.dark {
  background-color: #18191A;
}

.light {
  background-color: #FBFBFB;
  color: #18191A;
}

.wrapper {
  max-width: 800px;
  margin: auto;
}

/* HOMEPAGE */
.icon {
  width: 45px;
  border-radius: 10px;
  margin-right: 20px;
}

#main {
  background-color: #121212;
  width: 100%;
  background-size: cover;
  color: #FBFBFB;
  text-align: center;
}

#main #subtitle {
  margin-top: 20px;
  font-size: 20px;
  text-shadow: 2px 1px #222;
  line-height: 25px;
}

.home_title {
  padding: 80px 20px 20px 20px;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 1px 1px #222;
  text-align: center;
}

.mode_icon {
  width: 30px;
  vertical-align: middle;
  margin-right: 20px;
}
.mode {
  padding: 10px 10px 15px 10px;
  text-align: center;
  border: 1px solid #dadada;
  margin: 10px;
}
.mode strong {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  display: block;
}

.preset {
  color: #fff;
  text-align: center;
  padding: 80px 10px;
  margin-bottom: 30px;
}

.preset p {
  font-size: 14px;
  text-shadow: 0px 0px 2px #000;
}

.preset .highlighted {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
  text-shadow: 0px 0px 2px #000;
}

/* HELPERS */

.download {
  text-align: center;
}

.download a {
  margin: 30px 20px 20px 20px;
  display: inline-block;
}
.download a img {
  height: 60px;
}

.screenshots {
  margin: 20px;
  text-align: center;
  padding-bottom: 20px;
}
.screenshots .col {
  min-height: 500px;
}

.stars {
  padding: 10px 0px;
}

.screenshots img {
  width: 240px;
}

.screenshots h2 {
  color: #fab219;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  padding: 40px 10px 10px 10px;
}
.screenshots p {
  color: #a2a4a6;
  font-size: 16px;
  padding-bottom: 20px;
}

/* TITLES */

.orange_header {
  text-align: center;
  font-size: 30px;
  color: #f5a600;
  padding: 45px 10px 40px 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0px 0px 2px #fab219;
}

.white_header {
  text-align: center;
  font-size: 30px;
  color: #fff;
  padding: 45px 10px 0px 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0px 0px 2px #fab219;
}

/* HEADER */
.header {
  padding: 20px 20px 25px 20px;
}
.header a{
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.header a:hover {
  color: #f5a600;
}

/* FOOTER */

#footer {
  background-color: #18191A;
  color: #a2a4a6;
  padding: 80px 0px 100px 0px;
  text-align: center;
  border-top: 1px solid #fab219;
}

#footer a {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
}


/* CONTENT PAGE */

.subtitle_text {
  font-size: 15px;
  margin-bottom: 40px;
}

.all_workouts{
}
.all_workouts .workout {
  margin-top: 30px;
}
.workout p {
  margin-top: 10px;
}
.workout h2, .workout h3 {
  font-weight: bold;
  margin-bottom: 5px;
  color: #fab219;
}
.workout p a {
  display: block;
  margin-top: 10px;
}
.workout .from {
  color: #ccc;
  font-style: italic;
}

.subtitle_blurb {
  padding: 20px;
  max-width: 900px;
  text-align: center;
  margin: auto;
}

.content_banner {
  margin: 40px 0px;
  width: 800px;
}

@media (max-width: 800px) {
  .content_banner {
    width: 100%;
  }
}
