---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
        {{ page.title }}
    </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta content='user-scalable=no, width=device-width, initial-scale=1.0' name='viewport'>
    <meta name="google-site-verification" content="x2EpQdOMz-k9fP8hak9I3COaXhnQ4jNLp2GU4GYQ8jM" />

    <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic|Open+Sans:300italic,700italic,400,700,300' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="/assets/favicon.png">
    <style type="text/css">
      {% include reset.css %}
      {% include website.css %}
    </style>
  </head>

  <body>

    {{ content }}

  </body>
</html>
