---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>

    <div id="main">
      <div class="container header">
        <a href="/">Shadow Boxing Workout App</a>
        |
        <a href="/blog">Blog</a>
        |
        <a href="/reviews">User Reviews</a>
        |
        <a href="https://apps.apple.com/app/shadow-boxing-workout/id1510911574">Download</a>
      </div>
      {{content}}
    </div>

    <div id="footer">
      <div class="wrapper">
        &copy; 2022 Shadow Boxing workout
        <br />
        <a href="https://www.notion.so/Privacy-Policy-851e7966216e4163be908db502123708">Privacy Policy</a>
        |
        <a href="https://www.notion.so/Terms-of-Service-0082eb52e51d4013ad615dc90f89faef">Terms of Services</a>
        <br />
        <a href="https://twitter.com/shadowboxingapp">Twitter</a>
        |
        <a href="https://www.youtube.com/channel/UCH4ijqgkws8HWR_wxJWLaKw">Youtube</a>
        |
        <a href="https://www.instagram.com/shadowboxingapp/">Instagram</a>
        |
        <a href="https://www.facebook.com/shadowboxingapp">Facebook</a>
        <br />
        <a href="https://apps.apple.com/app/shadow-boxing-workout/id1510911574">
          <img src="/assets/download.svg" alt="app store download" />
        </a>
      </div>
    </div>

    {% include ga.html %}

  </body>
</html>
