---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
        {{ page.title }}
    </title>
    <meta name="description" content="{{ page.description }}">
    <meta content='user-scalable=no, width=device-width, initial-scale=1.0' name='viewport'>
    <meta name="google-site-verification" content="x2EpQdOMz-k9fP8hak9I3COaXhnQ4jNLp2GU4GYQ8jM" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@shadowboxingapp">
    <meta name="twitter:creator" content="@shadowboxingapp">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">

    {% if page.imageLink %}
      <meta name="twitter:image" content="https://shadowboxingapp.com/assets/previews/{{page.imageLink}}" />
      <meta property="og:image" content="https://shadowboxingapp.com/assets/previews/{{page.imageLink}}" />
    {% else %}
      <meta name="twitter:image" content="https://shadowboxingapp.com/assets/presets/{{page.imageCode}}-large.png" />
      <meta property="og:image" content="https://shadowboxingapp.com/assets/presets/{{page.imageCode}}-large.png" />
    {% endif %}

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />

    <meta content='app-id=1510911574' name='apple-itunes-app'>
    <link rel="apple-touch-icon" href="/apple-touch-icon.jpg" />

    <link rel="shortcut icon" href="/assets/favicon.png">
    <style type="text/css">
      {% include css/reset.css %}
      {% include css/bootstrap-grid.min.css %}
      {% include css/website.css %}
      {% include css/blog.css %}
    </style>
  </head>

  <body>

    <div id="main">
      <div class="container header">
        <a href="/">Shadow Boxing Workout App</a>
        |
        <a href="/blog">Blog</a>
        |
        <a href="/reviews">User Reviews</a>
        |
        <a href="https://apps.apple.com/app/shadow-boxing-workout/id1510911574">Download</a>
      </div>
      {{content}}
    </div>

    <div id="footer">
      <div class="wrapper">
        &copy; 2020 Shadow Boxing workout
        <br />
        <a href="https://www.notion.so/Privacy-Policy-851e7966216e4163be908db502123708">Privacy Policy</a>
        |
        <a href="https://www.notion.so/Terms-of-Service-0082eb52e51d4013ad615dc90f89faef">Terms of Services</a>
        <br />
        <a href="https://twitter.com/shadowboxingapp">Twitter</a>
        |
        <a href="https://www.youtube.com/channel/UCH4ijqgkws8HWR_wxJWLaKw">Youtube</a>
        |
        <a href="https://www.instagram.com/shadowboxingapp/">Instagram</a>
        |
        <a href="https://www.facebook.com/shadowboxingapp">Facebook</a>
        <br />
        <a href="https://apps.apple.com/app/shadow-boxing-workout/id1510911574">
          <img src="/assets/download.svg" alt="app store download" />
        </a>
      </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171713933-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-171713933-1');
    </script>

  </body>
</html>
